<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" /> 
        <!--[if lt IE 9]>
        <script>
            document.createElement("article");
            document.createElement("aside");
            document.createElement("header");
            document.createElement("footer");
            document.createElement("section");
            document.createElement("main");
            document.createElement("nav");


        </script>
        <![endif]-->

    </head>
    <body>
            <nav class="usernav">
                <ul>
                    <% if (!user) { %>

                        <li><a class="nav-item" href="/users/new"> Sign up </a> </li>
                        <li><a class="nav-item" href="/users/login"> Log in </a> </li>
                    <%} else {%>
                        <li><a class="nav-item" href="/users/profile"> Profile </a> </li>
                        <li><a class="nav-item" href="/users/logout"> Log out </a> </li>
                     <%}%>

                </ul>
            </nav>
        <header class="banner">

            <div class="banner-container">
                <img src="/images/banner.jpg">
                <!-- <div class="header-title">
                    Anime Trading Hub
                </div> -->
                
                
            </div>


        </header>
        <nav class="mainnav">
            <ul>
                <li><a class="nav-item" href="/"> Home </a> </li>
                <li><a class="nav-item" href="/trades"> Trades </a> </li>
        <% if (user) { %>
            <li><a class="nav-item" href="/trades/new"> Create </a> </li>
         <%}%>

            </ul>
        </nav>

         <% if(errorMessages.length > 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class='error'>
                <%=message%>
            </div>
            <%});%>
                <%}%>
    
                    <% if(successMessages.length > 0) {%>
    
                        <% successMessages.forEach(message=>{%>
                            <div class='success'>
                                <%=message%>
                            </div>
                            <%});%>
                                <%}%>