<%- include('../partials/header.ejs')%>

<main class="main-content">
    <div class="new-trade">
        <h2>New Trade</h2>
        <form action = '/trades' method = 'POST'>            
            Category: <select id="categories" name="categories" >
                <%categories.forEach(category => {%>
                <option value="<%=category%>"> <%=category%></option>
                <%})%>
              </select>
                <br>
              Title: <input type="title" id="trade-title" name="title">
                <br>
              Details: <textarea id="trade-details" name="discription"></textarea>
              <br>
              <input type="submit">
        </form>

        
        
    </div>
</main>

<%- include('../partials/footer.ejs')%>
