<%- include('./partials/header.ejs')%>
<main>
    <h2>Welcome To Anime Trading </h2>
    <p> Interested in Anime culture? We got you with the trending and even rare anime collections</p>
    <table>
        <tr>
            <td><a href="trades/"><img src="images/demonslayer.jpg"></a></td>
            <td><a href="trades/"><img src="images/jujutsukaisen.jpg"></a></td>
            <td><a href="trades/"><img src="images/naruto.jpg"></a></td>

        </tr>
    </table>
</main>
<%- include('./partials/footer.ejs')%>
