
<%- include('../partials/header.ejs')%>
    <main class="main-content">
        <div class="new-trade">
            <h2>Sign Up</h2>
            <form action = '/users' method = 'POST'>            
                    <br>
                  First Name: <input type="firstName" id="first-name" name="firstName", required>
                    <br>
                    Last Name: <input type="lastName" id="last-name" name="lastName", required>
                  <br>

                    Email: <input type="email" id="email" name="email", required>
                  <br>

                    Password: <input type="password" id="password" name="password", required>

                  <br>
                  <input type="submit">
            </form>
    
            
            
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>